<div style= "margin: 40px auto; width: 760px; padding: ">

<h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.email_field :email, :placeholder=>"Email",autofocus: true , :class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.password_field :password,:placeholder=>"Password", autocomplete: "off", :class => "form-control"%>
  </div><br>
  
  
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in",:class=>"btn btn-danger " %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>